*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f8;
    font-family: 'Poppins', sans-serif;
}
header img {
    height: 100px;
    width: 100px;
}

nav .firstLink li {
    margin-right: 100px;
}

    nav .firstLink li:hover a {
        border-bottom: 2px solid #e0e4cc;
        padding: 5px 15px;
        color: white;
    }

    nav .firstLink li a {
        font-size: 20px;
    }

nav .secondLink li {
    background-color: mediumpurple;
    padding: 5px 15px;
    border: 2px solid #e0e4cc;
    border-radius: 30px;
    margin-right: 20px;
}

 nav .secondLink li a {
    color: #fff;
 }

    nav .secondLink li button {
        background-color: transparent;
        border-radius: 30px;
        color: #fff;
        border: 2px solid transparent;
        outline:none;
    }

.carousel-item img {
    width:1200px;
    height:500px;
}

.wrapper img {
    height:400px;
    width:500px;
    border-radius:50px;
}

.wrapper {
   margin: 20px 40px;
}

.about-box{
display: flex;
justify-content:space-between;
}

.wrapper h3 {
    color: mediumpurple;
    text-decoration: underline;
    transition: all 5s ease-in-out;
}

.wrapper p {
    font-size: 20px;
}
.wrapper .left {
    width: 600px;
    height: 600px;
    padding:40px;
}

.wrapper .right {
    margin-top:100px;
    padding: 30px;
    border-radius: 50px;
    width: 500px;
    height: 300px;
    color: white;
    background-color: mediumpurple;
}

.login{
    color: mediumpurple;
    border-radius:10px;
}

.register{
    color:mediumpurple;
    border-radius: 10px;
}
.registerWrapper{
    display:flex;
}

.registerWrapper img{
    width: 700px;
    height: 600px;
    border-radius: 16px;
}

.loginWrapper{
    display:flex;
}

.loginWrapper img{
    width: 600px;
    height: 400px;
    border-radius: 16px;
}

.contact-box{
    display:flex;
    color: mediumpurple;
}

.contact-box .contact-left{
    margin-right: 50px;
}

.contact-box .contact-right form{
    width: 400px;
}

.contact-box .contact-right input{
   border-radius: 10px;
}

.contact-body {
    color: mediumpurple;
    height: 500px;
}
.contact-body {
     height: 500px;
}

.social-links {
    list-style: none;
}


@media only screen and (max-width: 600px){
    .container {
         display: flex;
    }

    .container .menu ul{
      
    }

   
    #slides{
        width: 80%;
        margin: 0 auto;
    }
    
    #slides img {
         width: 400px;
         height: 400px;
    }
}

.profilePage {
    display: flex;
}


.profileImage {
    flex-basis: 40%;
    margin-right: 50px;
}

.profilePage ul {
   flex-basis: 60%;
}

.profilePage img {
    flex-basis: 60%;
    border-radius: 40px;
    margin-bottom:20px;
}

.profileHeading {
    margin-bottom: 40px;
    color: white;
    background-color:mediumpurple;
    border-radius: 10px;
    padding: 5px;
}

.profileImage button {
    padding: 3px;
    background-color:mediumpurple;
    border-radius: 10px;
    width: 200px;
}
.profileImage button a{
    color: white;
}
.profilePage h3 {
    color: blue;
    margin-top: 50px;
}


