
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
    <div class="wrapper">
        <h3 class="text-center">ABOUT US</h3>
        <div class="about-box">
            <div class="left">
                <img src="/images/pic11.jpg" alt="About pic" />
            </div>

            <div class="right">
                <p>
                    This is a student management that stores records of students. <br />
                    Students can create, delete and update their biodata, Students can also register courses.
                </p>
            </div>
        </div>


    </div>

