

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Welcome :  @User.FindFirstValue(ClaimTypes.Name)</h1>
<ul>
    <li><a asp-area="" asp-controller="Profile" asp-action="BioData">Biodata</a></li>
    <li><a asp-area="" asp-controller="Profile" asp-action="StudentCourse">Course Registration</a></li>

</ul>



